<div class="login-container">
    <!-- Background -->
    <div class="login-background"></div>

    <!-- Login Content -->
    <div class="login-content">
        <div class="logo-section">
            <img src="assets/skillmuni-login-logo.png" alt="Skillmuni Logo" class="logo-image" />
            <h2>Welcome to the University League</h2>
            <p>Here, you can unwrap the gift of choice with us.</p>
            <!-- Use a button for login -->
            <!-- <img src="assets/icons/google-login-button.png" alt="Google Icon" class="google-icon" #loginRef /> -->
            <div id="google-btn"></div>
        </div>
    </div>
</div>