<div class="footer">
    <div class="footer-item" [ngClass]="{'active': activeLink === 'home'}" (click)="setActiveLink('home')">
        <span class="footer-icon">
            <i class="material-icons">home</i>
        </span>
        <span class="footer-label">Home</span>
    </div>
    <div class="footer-item" [ngClass]="{'active': activeLink === 'leaderboard'}" (click)="setActiveLink('leaderboard')">
        <span class="footer-icon">
            <i class="material-icons">leaderboard</i>
        </span>
        <span class="footer-label">Leaderboard</span>
    </div>
    <div class="footer-item" [ngClass]="{'active': activeLink === 'dashboard'}" (click)="setActiveLink('dashboard')">
        <span class="footer-icon">
            <i class="material-icons">dashboard</i>
        </span>
        <span class="footer-label">Dashboard</span>
    </div>
</div>
