<div class="career-fest-container">
    <div class="header">
        <img src="assets/icons/back-arrow.png" alt="Back Icon" (click)="onBackClick()" class="back-button" />
        <div class="title-container">
            <h1>Placement Zone</h1>
            <img src="assets/icons/long-arrow.png" alt="Arrow" class="long-arrow" />
            <h2>{{ title | uppercase }}</h2>
        </div>
        <img src="assets/icons/job-icon.png" alt="Category Icon" class="header-icon" />
    </div>

    <!-- Career Fest Image Container -->
    <div class="career-fest-image-container">
        <!-- Top Text -->
        <div class="career-fest-heading">
            Get Ready for Something Big!
        </div>

        <img src="assets/placement-zone-images/career-fest.png" alt="Career Fest" class="career-fest-image" />

        <!-- Floating Content -->
        <div class="career-fest-text">
            <p>
                Career Fest is just around the corner! Explore opportunities, connect with professionals,
                and take the next step toward your future. Get ready to join!
            </p>
        </div>
    </div>
</div>