<div class="register-container">
    <div class="header">
        <img src="assets/icons/back-arrow.png" alt="Back Icon" class="back-button" (click)="onBackClick()" />
        <div class="title-container">
            <h1>Entrepreneur Zone</h1>
            <img src="assets/icons/long-arrow.png" alt="Arrow" class="long-arrow" />
            <h2>Register interest</h2>
        </div>
        <img src="assets/icons/candle-icon.png" alt="Category Icon" class="header-icon" />
    </div>

    <div *ngIf="isFormSubmitted; else registrationForm" class="success-screen">
        <div class="success-content">
            <img src="assets/registration-bg.png" alt="registration-bg" class="registration-bg" />
            <h2>Interest received!</h2>
            <h3>We'll be in touch soon.</h3>
            <p>Meanwhile, feel free to explore our International Zone.</p>
            <button class="explore-button" routerLink="/entrepreneur-zone">
                Explore &#10132;
            </button>
        </div>
    </div>
    <ng-template #registrationForm>
        <div class="form-container">
            <h3>Your Choice, Our Guidance</h3>
            <form #registrationForm="ngForm" (ngSubmit)="submitForm(registrationForm)">
                <div class="form-group">
                    <p>
                        Hello, {{ userName }}! Just mention your interest, and we'll get back to you at
                        <span class="highlight">{{ email }}</span>.
                    </p>

                    <label for="message">Your Message</label>
                    <textarea id="message" name="message" [(ngModel)]="message" 
                              #messageInput="ngModel" required 
                              placeholder="Type about your interest here..."></textarea>
                    <div *ngIf="messageInput.invalid && messageInput.touched" class="error-text">Message is required.</div>
                </div>
        
                <button type="submit" [disabled]="registrationForm.invalid">Send my wish &#10132; </button>
            </form>
            <div class="illustration">
                <img src="assets/icons/entrepreneurial-form.png" alt="entrepreneurial-form.png">
            </div>
        </div>   
    </ng-template>

</div>